<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.br.minasfrango">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory">
        <activity android:name=".activity.HomeActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_clientes" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PedidoActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SincronizarDadosActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SincronizarDadosActivity" />
        </activity>
        <activity
            android:name=".activity.VendasActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.VendasActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_vendas" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecebimentoActivity"
            android:label="@string/title_activity_recebimento"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RecebimentoActivity" />
        </activity>
        <activity
            android:name=".activity.VisualizarPedidoActivity"
            android:parentActivityName=".activity.PedidoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.VisualizarPedidoActivity" />
        </activity>

    </application>

</manifest>